.code-toolbar {
  position: relative;
}

.code-toolbar .toolbar {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.code-toolbar .toolbar-item > button {
  all: unset;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.code-toolbar .toolbar-item > button:hover {
  background: rgba(255, 255, 255, 0.2);
}
